body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tip-container {
    width: 30%;
    height: 50%;
    margin: auto;
}
